/* BOX 2 style */
.grid-container2 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: minmax(auto, 16px) minmax(auto, 85px) minmax(auto, 85px) minmax(auto, 85px);
  grid-gap: 0px;
  padding: 17px 20px 20px 20px;
  height: 100%;
}

.item21 {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #585D6D;
  align-self: center;
  justify-self: left;
  justify-items: left;
  padding-bottom: 17px;
}

.grid-container22 {
  display: grid;
  grid-template-columns: minmax(auto, 24px) minmax(auto, 410px) auto;
  grid-template-rows: minmax(auto, 85px);
  grid-gap: 23px;
  width: 100%;
  background-image: linear-gradient(#FFF6DE, #FFF6DE);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size .5s, color .5s;
  position: relative;
}

.grid-container22::before {
  -webkit-transform: scaleX(0) skewX(45deg);
  transform: scaleX(0) skewX(45deg);
  content: "";
  position: absolute;
  -webkit-transition: 1s;
  transition: 1s;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(#FFF6DE, #FFF6DE);
  z-index: -1;
}
.grid-container22:hover::before {
  transform: scaleX(1.5) skewX(45deg);
}

.item221{
  align-self: center;
  justify-self: left;
  justify-items: left;
  padding-right: 23px;
}

.item222 {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #141414;
  align-self: center;
  justify-self: left;
  justify-items: left;
  text-align: left;
}

.item223 {
  align-self: center;
  justify-self: right;
  justify-items: right;
  /* color */
  background: #00BD71;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  border: unset;
  /* text setup */
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  padding: 9px 19px 8px 19px;
}

.grid-container23{
  display: grid;
  grid-template-columns: minmax(auto, 24px) minmax(auto, 410px) auto;
  grid-template-rows: minmax(auto, 42.5px) minmax(auto, 42.5px);
  grid-column-gap: 23px;
  width: 100%;
  position: relative;
}

.grid-container23::before {
  -webkit-transform: scaleX(0) skewX(45deg);
  transform: scaleX(0) skewX(45deg);
  content: "";
  position: absolute;
  -webkit-transition: 1s;
  transition: 1s;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(#FFF6DE, #FFF6DE);
  z-index: -1;
}
.grid-container23:hover::before {
  transform: scaleX(1.5) skewX(45deg);
}

.item231 {
  grid-row: 1 / span 2;
  grid-column: 1;
  align-self: center;
  justify-self: left;
  justify-items: left;
  padding-right: 23px;
}

.item2321 {
  display: flex;
  grid-row: 1;
  grid-column: 2;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #141414;
  align-self: end;
  justify-self: left;
  justify-items: left;
  margin: 0;
  padding-bottom: 2px;
  text-align: left;
}

.item2322 {
  grid-row: 2;
  grid-column: 2;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #585D6D;
  align-self: start;
  justify-self: left;
  justify-items: left;
  margin: 0;
  padding-top: 3px;
  text-align: left;
}

.item233 {
  grid-row: 1 / span 2;
  grid-column: 3;
  align-self: center;
  justify-self: right;
  justify-items: right;
  /* color */
  background: #00BD71;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  border: unset;
  /* text setup */
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  padding: 9px 19px 8px 19px;
}

.grid-container24{
  display: grid;
  grid-template-columns: minmax(auto, 24px) minmax(auto, 410px) auto;
  grid-template-rows: minmax(auto, 42.5px) minmax(auto, 42.5px);
  grid-column-gap: 23px;
  width: 100%;
  position: relative;
}

.grid-container24::before {
  -webkit-transform: scaleX(0) skewX(45deg);
  transform: scaleX(0) skewX(45deg);
  content: "";
  position: absolute;
  -webkit-transition: 1s;
  transition: 1s;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(#FFF6DE, #FFF6DE);
  z-index: -1;
}
.grid-container24:hover::before {
  transform: scaleX(1.5) skewX(45deg);
}

.item241 {
  grid-row: 1 / span 2;
  grid-column: 1;
  align-self: center;
  justify-self: left;
  justify-items: left;
  padding-right: 23px;
}

.item2421 {
  display: flex;
  grid-row: 1;
  grid-column: 2;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #141414;
  align-self: end;
  justify-self: left;
  justify-items: left;
  padding-bottom: 2px;
  margin: 0;
  text-align: left;
}

.item2422 {
  grid-row: 2;
  grid-column: 2;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #585D6D;
  align-self: start;
  justify-self: left;
  justify-items: left;
  margin: 0;
  padding-top: 3px;
  text-align: left;
}

.item243 {
  grid-row: 1 / span 2;
  grid-column: 3;
  align-self: center;
  justify-self: right;
  justify-items: right;
  /* color */
  background: #00BD71;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  border: unset;
  /* text setup */
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  padding: 9px 19px 8px 19px;
}
