/* BOX 1 style */
.grid-container1 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 1fr auto;
  grid-gap: 20px;
  padding: 16px 20px 20px 20px;
  height: 100%;
}

.item11{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #585D6D;
  align-self: center;
  justify-self: left;
  justify-items: left;
}

.item12{
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-self: center;
  justify-self: right;
  justify-items: right;
}

.item12, .item12:hover, .item12:active, .item12:visited, .item12:focus {
  text-decoration-line: underline;
  color: #141414;
}

.item13 {
  /* grid-area: 2 / 1 / span 1 / span 2; */
  grid-row: 2/3;
  grid-column: 1/3;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 84px;
  /* display: flex;
  align-items: center; */
  align-self: center;
  justify-self: center;
  /* text-align: center; */
  color: #141414;
}

.item14 {
  grid-area: 3 / 1 / span 1 / span 2;
}

.buttonGreen {
  height: 44px;
  width: 100%;
  background: #00BD71;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: unset;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  /* animation */
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
  animation: shake 3s infinite;
}

@keyframes shake {
  0% {

  }
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
  60%, 100% {
    transform: none;
  }
}