/* Page setup */
* {
  box-sizing: border-box;
}

html {
  background: #F2F6F9;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: Roboto;
  font-style: normal;
}




/* Container setup */
.container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.nav {
  flex-basis: 90px;
  height: 100%;
}

.dashboard {
  flex: 1 1;
  height: 100%;
}



/* Grid setup */
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  margin: 0px 20px 63px 20px;
}

.grid-item {
  text-align: center;
  font-size: 30px;
  background: #FFFFFF;
  box-shadow: 0px 12px 14px rgba(0, 0, 0, 0.05);
  clip-path: polygon(12px 0, calc(100% - 12px) 0, 100% 12px, 100% calc(100% - 12px), calc(100% - 12px) 100%, 12px 100%, 0 calc(100% - 12px), 0 12px);
}

.item1 {
  grid-area: 1 / 1 / span 2 / span 1;
  /* width: 366px; */
  height: 632px;
}

.item2 {
  grid-area: 1 / 2 / span 1 / span 2;
  /* width: 752px; */
  height: 306px;
}

.item3 {
  grid-area: 2 / 2;
  /* width: 366px; */
  height: 306px;
}

.item4 {
  grid-area: 2 / 3;
  /* width: 366px; */
  height: 306px;
}



/* Setup navigation bar */
nav {
  position: absolute;
  width: 90px;
  top: 0;
  left: 0;
  bottom: 0;
  background: #1B1A2D;
}



/* Title setup */
.mainTitle {
  margin: 16px 0px 20px 20px;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #141414;
}



/* BOX 1 style */
.grid-container1 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  grid-gap: 20px;
  padding: 16px 20px 20px 20px;
  height: 100%;
}

.item11{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #585D6D;
  text-align: left;
}

.item12{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  text-decoration-line: underline;
  color: #141414;
}

.item12:hover {
  transform: scale(1.5);
}

.item13 {
  /* grid-area: 2 / 1 / span 1 / span 2; */
  grid-row: 2/3;
  grid-column: 1/3;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 84px;
  /* display: flex;
  align-items: center; */
  align-self: center;
  justify-self: center;
  /* text-align: center; */
  color: #141414;
}

.item14 {
  grid-area: 3 / 1 / span 1 / span 2;
}

.buttonGreen {
  height: 44px;
  width: 100%;
  background: #00BD71;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: unset;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  /* animation */
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
  animation: shake 3s infinite;
}

@keyframes shake {
  0% {

  }
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
  60%, 100% {
    transform: none;
  }
}



/* BOX 2 style */
.grid-container2 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: minmax(auto, 16px) minmax(auto, 85px) minmax(auto, 85px) minmax(auto, 85px);
  grid-gap: 0px;
  padding: 17px 20px 20px 20px;
  height: 100%;
}

.item21 {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #585D6D;
  align-self: center;
  justify-self: left;
  justify-items: left;
  padding-bottom: 17px;
}

.grid-container22 {
  display: grid;
  grid-template-columns: minmax(auto, 24px) minmax(auto, 410px) auto;
  grid-template-rows: minmax(auto, 85px);
  grid-gap: 23px;
  width: 100%;
  background-image: linear-gradient(#FFF6DE, #FFF6DE);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size .5s, color .5s;
}

.grid-container22:hover {
  background-size: 100% 100%;
  width: 100% + 46px;
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.item221{
  align-self: center;
  justify-self: left;
  justify-items: left;
  padding-right: 23px;
}

.item222 {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #141414;
  align-self: center;
  justify-self: left;
  justify-items: left;
}

.item223 {
  align-self: center;
  justify-self: right;
  justify-items: right;
  /* color */
  background: #00BD71;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  border: unset;
  /* text setup */
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  padding: 9px 19px 8px 19px;
}

.grid-container23{
  display: grid;
  grid-template-columns: minmax(auto, 24px) minmax(auto, 410px) auto;
  grid-template-rows: minmax(auto, 42.5px) minmax(auto, 42.5px);
  grid-column-gap: 23px;
  width: 100%;
}

.item231 {
  grid-row: 1 / span 2;
  grid-column: 1;
  align-self: center;
  justify-self: left;
  justify-items: left;
  padding-right: 23px;
}

.item2321 {
  display: flex;
  grid-row: 1;
  grid-column: 2;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #141414;
  align-self: center;
  justify-self: left;
  justify-items: left;
}

.item2322 {
  grid-row: 2;
  grid-column: 2;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #585D6D;
  align-self: center;
  justify-self: left;
  justify-items: left;
}

.item233 {
  grid-row: 1 / span 2;
  grid-column: 3;
  align-self: center;
  justify-self: right;
  justify-items: right;
  /* color */
  background: #00BD71;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  border: unset;
  /* text setup */
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  padding: 9px 19px 8px 19px;
}

.grid-container24{
  display: grid;
  grid-template-columns: minmax(auto, 24px) minmax(auto, 410px) auto;
  grid-template-rows: minmax(auto, 42.5px) minmax(auto, 42.5px);
  grid-column-gap: 23px;
  width: 100%;
}

.item241 {
  grid-row: 1 / span 2;
  grid-column: 1;
  align-self: center;
  justify-self: left;
  justify-items: left;
  padding-right: 23px;
}

.item2421 {
  display: flex;
  grid-row: 1;
  grid-column: 2;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #141414;
  align-self: center;
  justify-self: left;
  justify-items: left;
}

.item2422 {
  grid-row: 2;
  grid-column: 2;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #585D6D;
  align-self: center;
  justify-self: left;
  justify-items: left;
}

.item243 {
  grid-row: 1 / span 2;
  grid-column: 3;
  align-self: center;
  justify-self: right;
  justify-items: right;
  /* color */
  background: #00BD71;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  border: unset;
  /* text setup */
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  padding: 9px 19px 8px 19px;
}

.item4 {
  position: relative;
  display: inline-block;
  padding: 15px 70px;
  border: 5px solid #B17461;
  color: #B17461;
  font-size: 30px;
  font-family: arial;
  background-image: linear-gradient(#B17461, #B17461);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size .5s, color .5s;
}
.item4:hover {
  background-size: 100% 100%;
}


