/* Page setup */

html {position: absolute;
width: 1440px;
height: 761px;
left: 0px;
top: 0px;
background: #F2F6F9;
}



/* Grid setup */
container1 {
position: absolute;
width: 90px;
height: 761px;
background: #1B1A2D;
top: 0;
left: 0;
}

container2 {
  position: absolute;
  width: calc (100% - 90px);
  height: 761px;
  left: 90px;
  right: 0;
  top: 0;
  bottom: 0;
}